@model IEnumerable<SlubClubYBBA.WebUI.Models.HesapModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create",Model.ToList())
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HesapNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EkNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BakiyeBilgi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AktiflikDurumu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TCKN)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HesapNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EkNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BakiyeBilgi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AktiflikDurumu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TCKN)
            </td>
            <td>
                @Html.ActionLink("Para Çek", "ParaCek", item)
                @Html.ActionLink("Para Yatır", "ParaYatir", item)
                @Html.ActionLink("Delete", "Delete", item)
            </td>
        </tr>
    }

</table>
